<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>
function myFunction() {
    window.print();
}
</script>
<style>
	.list-group{
		background-color: #E8E8E8;
	}
</style>
</head>
<body style="background-color: #E8E8E8;">
<h2 align="center">Application Status</h2>
	<ul class="list-group">
  <li class="list-group-item"><strong>Application No:</strong>  {{ i.app_no }}</li>
  <li class="list-group-item"><strong>Name:</strong> {{ i.user.name }}</li>
  <li class="list-group-item"><strong>Vehicle:</strong>  {{ i.veh.veh_name }}</li>
  <li class="list-group-item"><strong>Date of Journey:</strong> {{ i.date_of_journey }}</li>
  <li class="list-group-item"><strong>From:</strong>  {{ i.from_time }}</li>
  <li class="list-group-item"><strong>To:</strong>  {{ i.to_time }}</li>
  <li class="list-group-item"><strong>Purpose:</strong> {{ i.purpose }}</li>
  <li class="list-group-item"><strong>Where required?</strong>  {{ i.source }}</li>
  <li class="list-group-item"><strong>Dest. Address:</strong>  {{ i.destination }}</li>
  <li class="list-group-item"><strong>Other persons:</strong> {{ i.others }}</li>
  <li class="list-group-item"><strong>Status:</strong> {{ i.status }}</li>
</ul>
	<button class="btn btn-primary align-center" onclick="myFunction()" type="submit">Print</button>
</body>
</html>