{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Form</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="{% static "css/form.css" %}" />
	<script src="{% static "js/form.js" %}" ></script>
</head>
<body>
	

	<div class="container auth">
	<ul class="nav nav-tabs">
  <li role="presentation"><a href="/vehicle/index2/">Home</a></li>
 
</ul>
    <h1 class="text-center">Requisition Form  <span>Fill in your details</span> </h1>
    <div id="big-form" class="well auth-box">
      <form id="requistion_form" action="" method="POST">
      {% csrf_token %}
      	<legend>Name: {{ a.name }}</legend>
      	<legend>Designation: {{ a.designation }}</legend>
      	<legend>Vehicle: {{ b.veh_name }}</legend>
     	{{ form.as_p}}
     	{{ form2.as_p }}
	<div class="form-group"> 
      			<input type='submit' name='submit' value='Submit' />
    </div>
</form>
</body>
</html>

