 <!DOCTYPE html>
 <html>
 <head>
   <title>Inbox</title>
   <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 </head>
 <body style="background-color: #CCCCCC;">
 <ul class="nav nav-tabs">
  <li role="presentation"><a href="/vehicle/index2/">Home</a></li>
 
</ul>
 <div class="container-fluid ">
         <table class="table" style="width:100%">
         <h2 align="center">Your list of requests</h2>
  <tr>
    <th>App No</th>
    <th>Initiating Officer</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>App submission time</th>
    <th>Transport Type</th>
    <th>Status</th>
  </tr>
  {% for c in c %}
  <tr>
    <th><a href="/vehicle/inbox/{{ c.app_no }}/">{{ c.app_no }}</a></th>
    <th>{{ a.name }}</th>
    <th>{{ c.from_time }}</th>
    <th>{{ c.to_time }}</th>
    <th>{{ c.app_sub_time }}</th>
    <th>{{ c.veh }}</th>
    <th>{{ c.status }}</th>
  </tr>
  {% endfor %}
</table>
</div>
 </body>
 </html>